.title {
 border: 1px solid blue;
 background-color: gray;
 position: static;
}
.left {
 border: 1px solid blue;
 position: relative;
 clear: left;
}
.button {
 border: 1px solid green;
 background-color:green;
 border-radius: 25px;
width: 50px
}
.button:hover {
 color:red;
}
