.title {
 border: 1px solid blue;
 background-color: gray;
 position: static;
}
.left {
 border: 1px solid blue;
 position: static;
 clear: left;
 width: 400px;
 background-color: silver;
}
.button {
 border: 1px solid green;
 background-color:green;
 border-radius: 25px;
width: 80px;
 padding: 10px;
  margin:2px, 2px, 2px, 2px;
}
.button:hover {
 color:red;
}
.right {
 position: static;
 border: 1px solid blue;
 right:0;
 
 background-color: gold;
 width: 600px;
}
